<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
       
        {% block stylesheets %}
         
         <link href="{{asset('vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('assets/css/fontawesome.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/templatemo-sixteen.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/owl.css')}}">

        {% endblock %}









        {% block javascripts %}
         

 <script src="{{asset('vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{asset('assets/js/custom.js')}}"></script>
    <script src="{{asset('assets/js/owl.js')}}"></script>
    <script src="{{asset('assets/js/slick.js')}}"></script>
    <script src="{{asset('assets/js/isotope.js')}}"></script>
    <script src="{{asset('assets/js/accordions.js')}}"></script>



        {% endblock %}
    </head>

    
    <body>
        
      
      
  
       
    </body>
    {% block body %}
     {% endblock %}
</html>